# block all
*

# But allow dirs and gitignore
!.gitignore
!*/

# Now what to allow?
!*.c
!*.java
!*.cpp
!*.py
!*.ipynb

!*.docx
!*.doc
!*.ods
!*.odt
!*.txt
!*.odp
!*.odg
!*.drawio
!*.dot
!*.gv

!*.xlsx
!*.xls
!*.ppt
!*.pptx
!*.pptm

!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg
!*.bmp
!*.tiff
!*.dwg
!*.circ

!*.pdf

# Packet Tracer & Network Simulation
!*.pkt
!*.pka
!*.pcap
!*.pcapng

# Hardware & Simulation
!*.pdsprj
!*.v
!*.vhdl
!*.asm
!*.s

# Archives
!*.zip

# Database files
!*.sql
!*.sqlite
!*.db

# Log files
!*.log

# Document & Markdown files
!*.md
!*.tex
!*.bib
!*.typ
