# block all
*

# But allow dirs and gitignore
!.gitignore
!*/

# Now what to allow?
!*.c
!*.java
!*.cpp
!*.py
!*.ipynb

!*.docx
!*.doc
!*.ods
!*.odt
!*.txt
!*.odp
!*.odg
!*.odt
!*.drawio

!*.xlsx
!*.xls
!*.pptx
!*.pptm

!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg
!*.bmp
!*.tiff
!*.dwg
!*.circ

!*.pdf


# Database files
!*.sql
!*.sqlite
!*.db

# Log files
!*.log

# Markdown files
!*.md
!*.tex
!*.typ
